body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* To stack tiles vertically */
  justify-content: center; /* Align items vertically */
  align-items: center; /* Align items horizontally */
  text-align: left;
}


.event-tile {
  height: 280px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 90vw;
  padding: 10pt;
  padding-right: 30pt;
  padding-left: 30pt;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 10pt;
  background-image: url('./assets/Card1.png');
  background-size: cover; /* Ensures the background image covers the entire div */
  background-position: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.ios-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  padding: 10px;
}