body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* To stack tiles vertically */
  justify-content: center; /* Align items vertically */
  align-items: center; /* Align items horizontally */
  text-align: left;
}

.event-tile {
  border: 1px solid #ccc;
  padding: 10px;
  width: 80vw;
  margin-bottom: 10px;
  border-radius: 16pt;
  background-image: url('/assets/Card_2.png'); /* Replace 'path_to_your_image.jpg' with your image path */
  background-size: cover; /* Ensures the background image covers the entire div */
  background-position: center;
}

.ios-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  padding: 10px;
}