/* openEvents.css */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f3f4f6;
    padding-left: 2rem;
    padding-top: 12rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 100%;
    width: 100vw;
}

.profile-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    height:2rem;
}

.profile-image {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-info {
    margin-left: 1rem;
}

.heading {
    font-size: 1.125rem;
    font-weight: 600;
}

.small-text {
    font-size: 0.875rem;
    color: #718096;
}

.adjustable-distance {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.range-label {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.range-input {
    width: 100%;
}

.range-value {
    font-size: 0.875rem;
    color: #718096;
    text-align: right;
    margin-top: 0.5rem;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.checkbox-label {
    margin-bottom: 0.5rem;
}

.notification-settings {
    background-color: #fff;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-radius: 1rem;
    margin-bottom: 2rem;
}
